.hero {
    background: url(/christmas-shop/img/img-compressed/bg-ball.png), url(/christmas-shop/img/img-compressed/bg-snow.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 60px 507px;
    text-align: center;
    height: 404px;
}

.hero__wrapper {
    padding: 60px 0px;
    width: 426px;
    height: 284px;
    max-width: 426px;
    .caption {
        margin: 0;
    }
}


.hero__button {
    
    padding: 20px 32px;
    color: $static-white;
    background-color: $dark;
    border-radius: 20px;
    transition: all 0.3s ease-in;
    cursor: pointer;
    width: 171px;
    height: 16px;
    margin: auto;
    margin-bottom: 10px;
    .hero_link {
        font-family: Montserrat-SemiBold, sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;

    }
}

.hero__button:hover {
    background-color: #fff;
    .hero_link:hover {
        color: $dark;
    }
}
