* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

*,
*, *::before, *::after {
    box-sizing: inherit;
}
h1 {
    font-family: $font-family;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    text-align: center;
    color: $static-white;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

h2 {
    font-family: $font-family;
    font-weight: 600;
    font-size: 24px;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    text-align: center;
    color: $static-white;
}

.caption {
    font-family: $second-family;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--static-white);
}

